@font-face {
  font-family: "Strange";
  src: url("https://cdn.glitch.com/01b27d37-a07e-4e2e-8caf-659256274937%2FBenguiat%20Bold.ttf?v=1565268317646");
}

input {}

body {
  background-color:black;
}

img {
  height: 400px;
}

#quizTitle {
  color: red;
  font-family: "Strange";
  text-align: center;
}

#pictureBox {}

#message {}